<div class="center-card">
  <div class="card" data-bs-theme="dark" style="width: 18rem">
    <img [src]="product().image" class="card-img-top" [alt]="product().id" />
    <div class="card-body">
      <h5 class="card-title">{{ product().title }}</h5>
      <p class="card-text">
        {{ product().description }}
      </p>
      <div class="d-flex gap-3 ">
        <a href="#" class="btn btn-primary">Add to the Cart</a>
        <a [routerLink]="['/product',product().id]" class="btn btn-primary">More Details</a>
      </div>
    </div>
  </div>
</div>
